@{
    Layout = "";
}
<html>
<head>
    <!-- This is what the name of the tab will be -->
    <title>Titty Sprinkles >,< </title>
</head>
<body ng-app>

<h1>Web Application Media Tracker</h1>

    <!-- https://docs.microsoft.com/en-us/aspnet/core/client-side/angular  Link to Angular JS info page -->

{{14+3}}    proof that angular works
    <!-- needed for angular to work, have the ability to drag and drop this type of code where references are needed -->
<script src="~/Scripts/angular.js"></script>
    
    
    <!--Info on how to connect angular to the database http://www.c-sharpcorner.com/article/how-to-fetch-data-from-the-database-using-angularjs-in-web-api2/ -->

</body>
</html>